.ant-layout-sider-trigger {
  background: #445e97;
}

.header {
  height            : 30px;
  -webkit-app-region: drag;
}

.head-title {
  height     : 30px;
  background : #889dcb;
  user-select: none;
}